<div class="panel panel-default">
    <div class="panel-heading c-list">
        <span class="title">my friends</span>
        <ul class="pull-right c-controls" style="padding-left:0px;">
            <li><a href="/users/find" data-toggle="tooltip" data-placement="top" title="Add Friend"><i class="fa fa-plus"></i></a></li>
        </ul>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="input-group c-search">
                <input type="text" class="form-control" ng-model="friendFilter" id="contact-list-search">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="fa fa-search text-muted"></span></button>
                </span>
            </div>
        </div>
    </div>

    <ul class="list-group" id="contact-list">
        <li class="list-group-item ng-cloak" ng-if="items.length==0">
            <div class="col-xs-12 col-sm-12">
                <span class="name">no friends yet</span>
                <br/>
            </div>
            <div class="clearfix"></div>
        </li>
        <li class="list-group-item" ng-repeat="item in items | filter:{'name':friendFilter}" ng-click="_goToPath('/user/view/'+item.id)">
            <div class="pull-left">
                <img src="{{item.pic}}" alt="{{item.name}}" class="img-circle" style="height:50px;width:50px;" />
            </div>
            <div class="col-xs-9 col-sm-9">
                <span class="name">{{item.name}}</span>
            </div>
            <div class="clearfix"></div>
        </li>

    </ul>
</div>