<div class="container top-buffer">
    <section class="panel panel-info">
        <div class="panel-heading">
            Beta Feedback Survey
        </div>
        <div class="panel-body">
            <p>Fill out this survey for 5$. If you haven't already you should have a friend complete a tasq before filling out this survey!</p>
            <a href="https://www.surveymonkey.com/r/8CB8S8C" target="_tab">Survey Link</a>
        </div>
    </section>
    <section ng-if="_me.personalBetaCodes.length>0" class="panel panel-info">
        <div class="panel-heading">
            Friend Invite Codes for Beta
        </div>
        <div class="panel-body">
            <p>Give these codes to your friends so they can register. These codes will only work once, and never expire.</p>
            <ul>
                <li style="cursor:default;" ng-repeat="code in _me.personalBetaCodes">{{code}}</li>
            </ul>
        </div>
    </section>
    <section ng-if="_me.requiresBeta && _beta" name="enter-beta-code" class="panel panel-danger">
        <div class="panel-heading">
            <i class="fa fa-warning"></i>&nbsp;Enter a beta code! <span class="badge">1</span>
        </div>
        <div class="panel-body">
            <p>You need to enter a beta code to complete your account regisitration</p>
            <a href="/beta">
                <button class="btn btn-primary">Enter beta code</button>
            </a>
        </div>
    </section>
    <section name="link-fb-account" ng-if="userCanFbConnect" class="panel panel-primary">
        <div class="panel-heading">
            Link Facebook Account
        </div>
        <div class="panel-body">
            <p>By linking your Facebook account to snaptasq, you will be able to join private communities.</p>
            <button id="btn-fbsignup" type="button" class="btn btn-primary" ng-click="loginOauth('facebook');"><i class="fa fa-facebook"></i>   Continue with Facebook</button>
        </div>
    </section>
    <section name="change-pass" class="panel panel-primary">
        <div class="panel-heading">
            Change Password
        </div>
        <div class="panel-body">
            <form class="form" name="form" ng-submit="changePassword(form)" novalidate>
                <div class="form-group">
                    <label>Current Password</label>
                    <input type="password" name="password" class="form-control" ng-model="user.oldPassword" mongoose-error/>
                    <p class="help-block" ng-show="form.password.$error.mongoose">
                        {{ errors.other }}
                    </p>
                </div>
                <div class="form-group">
                    <label>New Password</label>
                    <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword" ng-minlength="3" required/>
                    <a href="/forgot">Forgot your password?</a>
                    <p class="help-block" ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
                        Password must be at least 3 characters.
                    </p>
                </div>
                <p class="help-block"> {{ message }} </p>
                <button class="btn btn-primary" type="submit">Save changes</button>
            </form>
        </div>
    </section>
    <section ng-controller="PhoneNumberModalCtrl" class="panel panel-info">
        <div class="panel-heading">
            Text Notifications
        </div>
        <div class="panel-body">
            <div ng-if="_me.phone.verified==false">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p>Taskers receive texts for:</p>
                        <ul>
                            <li>Being chosen to help</li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p>Task receive texts for:</p>
                        <ul>
                            <li>Only when the first applicant applies for their tasq</li>
                            <li>When their chosen tasker starts their tasq</li>
                        </ul>
                    </div>
                </div>
                <form ng-if="canEnterVerificationCode==false" class="top-buffer">
                    <p>If you would like to be notified by text message. Enter your phone number below.</p>
                    <div class="form-group">
                        <label>Number</label>
                        <input type="tel" ng-model="phoneNumber" ui-us-phone-number maxlength="14" />&nbsp;
                        <button class="btn btn-primary" ng-click="sendCode(phoneNumber)">ok</button>
                        <div class="text-error" style="color:red;">{{error}}</div>
                    </div>
                </form>
                <form ng-if="canEnterVerificationCode" class="top-buffer">
                    <p class="lead">Enter the verification code we sent you below</p>
                    <div class="form-group">
                        <label>Code</label>
                        <input type="text" ng-model="verifyCode" maxlength="4" />&nbsp;
                        <button class="btn btn-primary" ng-click="redeemCode(verifyCode);">redeem</button>&nbsp;
                        <button class="btn btn-danger" ng-click="goBack();">cancel</button>
                        <div class="text-error" style="color:red;">{{error}}</div>
                    </div>
                </form>
            </div>
            <div ng-if="_me.phone.verified==true">
                <div class="row">
                    <div class="col-md-12">
                        <div style="display:inline-block;">
                            <div class="onoffswitch">
                                <input ng-disabled="changingNotificationSetting" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked ng-model="textNotificationEnable" ng-click="toggleTextNotifications();">
                                <label class="onoffswitch-label" for="myonoffswitch">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                        <p class="lead" style="display:inline-block;vertical-align:top;">text notifiations</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="lead">
                            <button class="btn btn-primary" ng-click="showEnterPhoneNumber()">Change #</button>&nbsp;Current number {{_me.phone.number | tel}} </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section name="delete-account" class="panel panel-danger">
        <div class="panel-heading">
            Delete Accont
        </div>
        <div class="panel-body">
            <button class="btn btn-danger" ng-click="showDeleteAccountModal()">Delete</button>
        </div>
    </section>
</div>