<div class="container" id="loginsAndSignup">
    <section class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" style="margin-top:50px;">
        <div id="forgotbox" class="mainbox">
            <div class="panel panel-info">
                <!-- <div class="panel-heading">
                <div class="panel-title">Sign In</div>
            </div>      -->
                <div class="panel-body">
                    <!-- <div style="" id="login-alert" class="alert alert-danger col-sm-12"></div> -->
                    <form id="forgotform" class="form-horizontal" name="forgotForm" role="form" ng-submit="sendForgotPassword(forgotForm)" novalidate>
                        <div class="form-group">
                            <label for="email" class="col-md-3 control-label">Email</label>
                            <div class="col-md-9">
                                <input type="email" class="form-control" name="email" ng-model="signupform.email" placeholder="Email Address">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="hidden" ng-model="captchaResponse" name="captchaResponse">
                            <label for="captcha" class="col-md-3 control-label">Captcha</label>
                            <div class="col-md-9">
                                <div vc-recaptcha key="'6LfjmgcTAAAAAFerg8_alh6LFcb4QQvrF8Gg4qz1'" on-success="captchaResponse=response"></div>
                            </div>
                        </div>
                        <div class="col-md-12 form-group has-error">
                            <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
                                Please enter your email and password.
                            </p>
                            <p class="help-block" ng-show="form.email.$error.email && submitted">
                                Please enter a valid email.
                            </p>
                            <p class="help-block">{{ errors.other }}</p>
                        </div>

                        <div class="form-group">
                            <!-- Button -->
                            <div class="col-sm-12 col-md-12 controls">
                                <button class="btn btn-success" style="width:100%" type="submit">Submit</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 control">
                                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                                    Don't have an account!
                                    <a href="/signin?action=register" ng-click="tabSignup=0;tabCreateAccount=1">
                                    Sign Up Here
                                </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>