<div class="panel panel-default">
    <div ng-if="listTitle" snaplist-title="'tasqs'"></div>
    <div snaplist-button="{href:'/tasq/create',text:'share a tasq',icon:'fa fa-plus'}"></div>
    <div snaplist-search="searchFilter.text"></div>
    <ul class="list-group" id="contact-list">
        <li class="list-group-item ng-cloak" ng-if="(items | filter:{'name':searchFilter.text}).length==0">
            <div class="col-xs-12 col-sm-12">
                <span class="name">no tasqs</span>
                <br/>
            </div>
            <div class="clearfix"></div>
        </li>
        <li class="list-group-item" style="cursor:pointer;word-break: break-word;" ng-repeat="item in items | filter:{'name':searchFilter.text}" ng-click="_goToPath('/tasq/view/'+item._id)">
            <div snaplist-results-task="item"></div>
        </li>
    </ul>
</div>