<div class="row" style="cursor:pointer;" ng-click="_goToPath('/tasq/view/'+task._id)">
    <div class="" style="float:left;padding-left:5px;">
        <div>
            <img src="{{task.ownerPic}}" class="img-circle" style="height:50px;width:50px;" />
        </div>
    </div>
    <div class="col-md-10 col-sm-10 col-xs-10">
        <div>
            <strong id="owner_name">{{task.ownerName}}</strong>&nbsp;&middot;&nbsp;<span am-time-ago="task.created"></span>&nbsp;&middot;&nbsp;<span id="payout" ng-if="task.payout">${{task.payout}}</span><span ng-if="!task.payout">free</span>
        </div>
        <div>{{task.name}}{{task.name}}{{task.name}}</div>
        <div ng-if="!task.tasker.name"><a href="/tasq/view/{{task._id}}">tasq is open</a></div>
        <div ng-if="task.tasker.name && task.tasker.confirmed"><a href="" ng-click="_goToPath('/user/view/'+task.tasker.id,$event);">tasq in progress by {{task.tasker.name}}</a></div>
        <div ng-if="task.tasker.name && !task.tasker.confirmed"><a href="" ng-click="_goToPath('/user/view/'+task.tasker.id,$event);">tasker chosen</a></div>
    </div>
</div>
<!-- if i am the tasker i will see this -->