<div class="panel panel-default">
    <div ng-if="listTitle" snaplist-title="'my communities'"></div>
    <!-- <div snaplist-button="{href:'/communities/find',text:'join new community',icon:'fa fa-plus'}"></div> -->
    <div snaplist-search="searchFilter.text"></div>
    <ul class="list-group" infinite-scroll='showMore()' infinite-scroll-distance='2'>
        <!-- default group my friends will always be shown -->
        <li class="list-group-item" style="word-break: break-word;">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <img src="assets/logos/snaptasq.png" style="max-width:64px;" alt="my friends" class="img-responsive img-circle" />
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9">
                <span class="name">my friend's tasqs</span>
                <button ng-disabled="true" class="btn btn-success pull-right">shared</button>
                <br/>
            </div>
            <div class="clearfix"></div>
        </li>
        <!-- then the normal items -->
        <li class="list-group-item" style="word-break: break-word;" ng-repeat="item in items | filter:{'name':searchFilter.text} | limitTo:limitCount | orderBy:'name'">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <img ng-src="{{item.pic}}" alt="{{item.name}}" style="max-width:64px;" class="img-responsive img-circle" />
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9">
                <div class="name">{{item.name}}</div>
                <button ng-disabled="item.shared" ng-class="{'btn-primary':item.shared==false,'btn-success':item.shared==true}" class="btn pull-right" ng-click="shareToCommunity(item,task._id);"><span ng-if="item.shared==false">share</span><span ng-if="item.shared==true">already shared</span></button>
            </div>
            <div class="clearfix"></div>
        </li>

    </ul>
</div>