<div class="container top-buffer">
    <div class="col-md-12 col-sm-12  col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading c-list" style="padding:10px;">
                <span class="title" style="display:inline;float:left;min-height:60px;">find friends</span>
                <div class="clearfix"></div>
                <div class="input-group c-search" style="">
                    <input type="text" autofocus="autofocus" class="form-control" ng-model="searchFriendName" placeholder="enter a name" id="contact-list-search">
                    <span class="input-group-btn">
              <button class="btn btn-default" type="button"><span class="fa fa-search text-muted"></span></button>
                </div>
                </span>
            </div>
            <ul class="list-group" id="contact-list">
                <li class="list-group-item" ng-if="noResults && !searching">
                    no results
                </li>
                <li class="list-group-item" ng-repeat="item in searchResults" ng-click="_goToPath('/user/view/'+item._id)" style="cursor:pointer;">
                    <div style="width:50px;float:left;">
                        <img src="{{item.pic}}" alt="{{item.name}}" class="img-responsive " />
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9">
                        <span class="name"><a href="{{'/user/view/'+item._id}}">{{item.name}}</a></span>
                        <!-- <button class="btn btn-success" ng-click="addFriend($event, item);">Add friend</button> -->
                    </div>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </div>
    </div>
</div>