<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div><span class="lead" style="color:black;">discover</span></div>
                <div>
                    <div><a href="/" style="color:black;">how it works</a></div>
                    <div><a href="/privacy" style="color:black;">privacy</a></div>
                    <div><a href="/terms" style="color:black;">terms</a></div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div><span class="lead" style="color:black;">learn</span></div>
                <div>
                    <div><a href="http://blog.snaptasq.com" style="color:black;">read our blog</a></div>
                    <div><a href="/about" style="color:black;">meet the team</a></div>
                    <div><a href="/rewards" style="color:black;">Amazon Rewards</a></div>
                </div>
            </div>
            <div class="col-md-4 pull-right">
                <div style="padding-top: 10px;">
                    <a href="" style="color:black" ng-click="scrollTop()"><i class="fa fa-caret-up"></i>&nbsp;back to top</a>
                </div>
            </div>
        </div>
        <div class="row top-buffer">
            <p class="text-center" style="color:black">&copy; 2015 snaptasq</p>
        </div>
    </div>
</footer>