<div class="panel panel-default">
    <div ng-if="listTitle" snaplist-title="'my communities'"></div>
    <div snaplist-button="{href:'/communities/find',text:'join new community',icon:'fa fa-plus'}"></div>
    <div snaplist-search="searchFilter.text"></div>
    <ul class="list-group" infinite-scroll='showMore()' infinite-scroll-distance='2'>
        <!-- default group my friends will always be shown -->
        <li class="list-group-item" ng-click="_goToPath('/community/friends')">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <img src="assets/logos/snaptasq.png" style="max-width:64px;" alt="my friends" class="img-responsive img-circle" />
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9">
                <span class="name">my friend's tasqs</span>
                <br/>
            </div>
            <div class="clearfix"></div>
        </li>
        <!-- then the normal items -->
        <li class="list-group-item" ng-repeat="item in items | filter:{'name':searchFilter.text} | limitTo:limitCount" ng-click="_goToPath('/community/view/'+item.id)">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <img ng-src="{{item.pic}}" alt="{{item.name}}" style="max-width:64px;" class="img-responsive img-circle" />
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9">
                <span class="name">{{item.name}}</span>
                <br/>
            </div>
            <div class="clearfix"></div>
        </li>

    </ul>
</div>