<div ng-controller="PhoneNumberModalCtrl">
    <p>Get notified when your first applicant applied and when your tasq is started via text. Having to recheck every hour bites. Let us text you, just enter your phone number below. If you are curious about how often we text, its minimal. Plus, this option
        can be turned off in your <a href="/settings">account page</a> at any time</p>
    <form ng-if="canEnterVerificationCode==false" class="text-center top-buffer">
        <input type="text" autofocus ng-model="phoneNumber" ui-mask="(999) 999-9999" />&nbsp;
        <button class="btn btn-primary" ng-click="sendCode(phoneNumber)">ok</button>
        <div class="text-error" style="color:red;">{{error}}</div>
    </form>
    <form ng-if="canEnterVerificationCode" class="text-center top-buffer">
        <p class="lead">Enter the verification code we sent you below</p>
        <input type="text" ng-model="verifyCode" ui-mask="****" />&nbsp;
        <button class="btn btn-primary" ng-click="redeemCode(verifyCode);">redeem</button>&nbsp;
        <button class="btn btn-danger" ng-click="goBack();">cancel</button>
        <div class="text-error" style="color:red;">{{error}}</div>
    </form>
</div>