/* PANEL STYLING */
.panel-default {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-color: #FFF;
}

.snaplist-button {
	border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.snaplist-result-img-container {
	float:left;
	width:50px;
	padding-right:3px;
}

.snaplist-result-img {
	height:50px;
	width:50px;
}