/* PANEL STYLING */
.panel-default {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-color: #FFF;
}

.snaplist-button {
	border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}