<div class="navbar navbar-default navbar-static-top" ng-class="{'navbar-full-opacity': !isMainPage }" ng-controller="NavbarCtrl">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" ng-click="isNotCollapsed = !isNotCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<span ng-if="isMainPage && isNotCollapsed" style="position:absolute;z-index:1;pointer-events: none;"><img style="position:relative;z-index:1;right:140px;top:0px;" src="assets/images/main/logo.png"/></span>-->
            <a href="/" class="navbar-brand" style="color:white;font-size:20px;font-weight:bold;" popover-placement="bottom" popover="A Santa Clara University Project" popover-trigger="mouseenter"><img src="assets/logos/scuLogo.png" width="32px" style="padding-right:5px;" />snaptasq
                <!-- <img   style="position:absolute;z-index:1;left:0px;top:60px;display:inline;" src="assets/images/main/logo.png"/> --></a>
        </div>
        <div collapse="isNotCollapsed" class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li class="dropdown" ng-if="!isUserBetaLocked && isLoggedIn()">
                    <a href="/tasks/mine">Tasq<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li id="SignedInMenu" ng-repeat="item in menuTask" ng-class="{active: isActive(item.link)}">
                            <a ng-href="{{item.link}}" ng-if="isLoggedIn() && (!item.reqBeta || !isUserBetaLocked)">{{item.title}}&nbsp;<span class="badge" ng-if="item.count()>0">{{item.count()}}</span></a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" ng-if="isLoggedIn() && isAdmin()">
                    <a href="#">Admin<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li id="SignedInMenu" ng-repeat="item in menuAdmin" ng-class="{active: isActive(item.link)}">
                            <a ng-href="{{item.link}}" ng-if="isLoggedIn() && (!item.reqBeta || !isUserBetaLocked)">{{item.title}}&nbsp;<span class="badge" ng-if="item.count()>0">{{item.count()}}</span></a>
                        </li>
                    </ul>
                </li>

                <li id="myMenu" ng-repeat="item in menu" class="ng-cloak" ng-class="{active: isActive(item.link)}">
                    <a ng-href="{{item.link}}">{{item.title}}</a>
                </li>
                <li id="loggedOutMenu" ng-if="!isLoggedIn()" class="ng-cloak">
                    <a ng-href="/signin?action=register" style="position:relative;top:10px;text-transform:uppercase;font-weight:bold;padding:5px;"><span style="border:2px solid black;border-radius:5px;padding:5px;">Become a beta tester</span></a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/signin" style="text-transform:uppercase;">Log In</a></li>
                <li>
                    <div style="margin-top: 10px;padding-right: 5px;margin-left:15px;">
                        <a href="/signin?action=register">
                            <button id="signUpButton" class="btn btn-success" style="background:black;border:0;" ng-hide="isLoggedIn()" style="text-transform:uppercase;">Sign Up</button>
                        </a>
                    </div>
                </li>
                <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}">
                    <a href="/settings">
                        <span><img style="height:20px;padding-right:5px;" ng-if="currentUser.pic" class="ng-cloak" ng-src="{{currentUser.pic}}"/>{{ currentUser.name }} <span ng-if="_badgeAlerts.size()>0" class="badge">{{_badgeAlerts._size}}</span></span>
                    </a>
                </li>
                <li ng-show="isLoggedIn()">
                    <div class="show-only-when-collapsed-navbar">
                        <button class="btn btn-default dropdown-toggle" style="margin-left:10px;" type="button" ng-click="goToNotifications()"><i class="fa fa-bell"></i></button>
                    </div>
                    <div class="hide-when-collapsed-navbar">
                        <div ng-include src="'components/navbar/notifications.html'"></div>
                    </div>
                </li>
                <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</div>