.hide-when-collapsed-navbar {
@media (max-width: 767px) {
display:none !important;
}  
}

.show-only-when-collapsed-navbar {
  display:none !important;
}
.show-only-when-collapsed-navbar {
@media (max-width: 767px) {
display:inline !important;
}
  
}
.navbar-absolute {
    position: absolute !important;
    margin: 0;
    z-index:800;
  }

.navbar-absolute + div {
    margin-top: 68px;
}


.navbar {
	margin-bottom:0px !important;
	z-index: 800;
} 


#top {
	opacity:1;
}
// from http://work.smarchal.com/twbscolor/
.navbar {
	border:0px;
}

$bgDefault      : rgba(252, 209, 26, 0.7);
$bgHighlight    : rgba(252, 209, 26, 0.7);
$colDefault     : #000000;
$colHighlight   : #1c7bc0;
$dropDown       : true;

.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus { 
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li > a {
            color: $colDefault;
            &:hover,  &:focus {
              color: $colHighlight;
              background-color: $bgHighlight; }}
          .divider {
            background-color: $bgHighlight;}}}
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}


$bgDefault      : rgba(252, 209, 26, 1);
$bgHighlight    : rgba(252, 209, 26, 1);
$colDefault     : #000000;
$colHighlight   : #1c7bc0;
$dropDown       : true;
.navbar-default.navbar-full-opacity {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus { 
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li > a {
            color: $colDefault;
            &:hover,  &:focus {
              color: $colHighlight;
              background-color: $bgHighlight}}
          .divider {
            background-color: $bgHighlight;}}}
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgDefault; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight}}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight }
    .icon-bar {
      background-color: $colDefault }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}



#signUpButton:hover{
  color: $colHighlight !important;
}

li.dropdown {
  padding-top:0px;
  padding-bottom:0px;
}

.nav li.active > a {
  background-color: $bgDefault;
  color: $colHighlight !important;
}

.nav.nav-tabs {
  padding: 5px 5px 0 5px;
  background-color: #FFF;
  /*border-color: #3071a9;*/
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    color: #777;
    background-color: #ddd;
    border-color: transparent;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: $bgDefault;
  color: $colHighlight !important;
}

li:hover {
  cursor:pointer;
}


/* Styling for navbar notification buttons */
.nav-notification-button {
  margin-right: 5px;
  padding: 9px 10px;
  margin-top: 4px;
  margin-bottom: 8px;
  border-radius: 4px;
}

li.underlined.open, li.underlined:hover {
  border-bottom: 4px solid rgba(114,185,247,.75);
}

li.underlined.active {
  border-bottom: 4px solid #428bca;

  position: relative;
}