<div class="dropdown" style="margin-left:0px;">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <i class="fa fa-bell"></i>
    </button>
    <ul class="notifications dropdown-menu" style="position:absolute;right:0px;" role="menu" aria-labelledby="dropdownMenu1">
        <div class="notification-heading">
            <h4 class="menu-title">Notifications</h4><a href="/notifications"><h4 class="menu-title pull-right">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></h4></a>
        </div>
        <li class="divider"></li>
        <div class="notifications-wrapper">
            <a class="content" href="#" ng-repeat="item in notifications">

                <div class="notification-item">
                    <h4 class="item-title">{{item.message}}</h4>
                    <p class="item-info" am-time-ago="item.created"></p>
                </div>

            </a>
        </div>
        <li class="divider"></li>
        <div class="notification-footer"><a href="/notifications"><h4 class="menu-title">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></h4></a></div>
    </ul>

</div>