<div class="container top-buffer">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <img ng-if="group.pic" style="width:100%;max-height:200px;background-size:cover;" class="ng-scope" ng-src="{{group.pic}}">
            <div class="panel panel-default">
                <div snaplist-title="group.name" class="text-center"></div>
                <div ng-if="isMember==false">
                    <div snaplist-button="{href:'/communities/find',text:'join this community',icon:'fa fa-plus'}"></div>
                    <p>only group members can see tasqs.</p>
                    <p ng-if="group.source=='facebook'">you will need to join the group from <a href="{{group.url}}">facebook first</a>. then reload this page</p>
                    <p class="top-buffer" style="white-space: pre-line;">
                        {{group.description}}
                    </p>
                </div>
            </div>
            <section class="top-buffer" ng-if="isMember==true">
                <div class="row ">
                    <!-- this is for the mobile -->
                    <div class="col-xs-12">
                        <div tabset>
                            <section tab select="">
                                <div tab-heading>
                                    <i class="fa fa-inbox"></i>&nbsp;Tasqs
                                </div>
                                <div communitytaskslist="tasks" list-title="false" list-filter="taskFilter"></div>
                            </section>
                            <section tab select="">
                                <div tab-heading>
                                    <i class="fa fa-user"></i>&nbsp;Members
                                </div>
                                <div communityuserslist="group.users" list-title="false" list-filter="userFilter"></div>
                            </section>
                            <section tab select="">
                                <div tab-heading>
                                    <i class="fa fa-inbox"></i>&nbsp;Description
                                </div>
                                <div class="panel panel-default">
                                    <p style="white-space: pre-line;">
                                        {{group.description}}
                                    </p>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <!--  <div class="row hidden-xs">
                    <div class="col-md-6 col-sm-6">
                        <div communitytaskslist="tasks" list-title="true" list-filter="taskFilter"></div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div communityuserslist="group.users" list-title="true" list-filter="userFilter"></div>
                    </div>
                </div> -->
            </section>
        </div>
    </div>
</div>