<div class="container top-buffer">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div ng-if="group.pic" style="width:100%;height:200px;background-size:cover;background-image:url('{{group.pic}}');"></div>
            <a href="{{group.url}}" ng-if="group.url"><span class="name">{{group.name}}</span></a>
            <span ng-if="group && !group.url" class="name">{{group.name}}</span>
            <p style="white-space: pre-line;">
                {{group.description}}
            </p>
            <button ng-if="isMember==false" class="btn btn-success pull-right">Join Community</button>
            <div ng-if="allowed==false" class="top-buffer text-center well">
                <p>only group members can see tasqs.</p>
                <p ng-if="group.source=='facebook'">you will need to join the group from <a href="{{group.url}}">facebook first</a>. then reload this page</p>
            </div>
            <div ng-if="allowed" class="top-buffer">
                <div tabset>
                    <section tab select="">
                        <div tab-heading>
                            <i class="fa fa-inbox"></i>&nbsp;Tasqs
                        </div>
                        <div class="list-group">
                            <a href="/tasqs">
                                <div class="btn btn-primary text-center" style='width:100%;padding-top:7px;padding-bottom:7px;'><i class="fa fa-plus"></i>&nbsp;&nbsp;share a tasq to here</div>
                            </a>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="input-group c-search">
                                        <input type="text" class="form-control" ng-model="friendFilter" id="contact-list-search">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"><span class="fa fa-search text-muted"></span></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="well" style="background-color:white;margin:0px;" ng-if="tasks.length==0">no tasqs</div>
                            <div infinite-scroll="loadMoreTasqs()">
                                <div class="well" style="background-color:white;margin:0px;" ng-repeat="task in tasks | searchTaskFilter:filter | orderBy:'-updated'">
                                    <div class="task-view-compact-list" task="task"></div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section tab select="">
                        <div tab-heading>
                            <i class="fa fa-user"></i>&nbsp;Members
                        </div>
                        <div class="list-group">
                            <a href="/community/friends">
                                <div class="btn btn-primary text-center" style='width:100%;padding-top:7px;padding-bottom:7px;'><i class="fa fa-plus"></i>&nbsp;&nbsp;invite a friend</div>
                            </a>
                            <div friend-list="group.users" options="{title:false}"></div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>