<div class="container top-buffer">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <img ng-if="group.pic" style="width:100%;max-height:200px;background-size:cover;" class="ng-scope" ng-src="{{group.pic}}">
            <div>
                <a href="{{group.url}}" ng-if="group.url">
                    <div snaplist-title="group.name" class="text-center"></div>
                </a>
                <div ng-if="!group.url" snaplist-title="group.name" class="text-center"></div>
                <div ng-if="isMember==false">
                    <div ng-click="requestJoin()" snaplist-button="{href:'#',text:'join this community',icon:'fa fa-plus'}"></div>
                    <p>only group members can see tasqs.</p>
                    <p ng-if="group.source=='facebook'">you will need to join the group from <a href="{{group.url}}">facebook first</a>. then reload this page</p>
                    <p class="top-buffer" style="white-space: pre-line;">
                        {{group.description}}
                    </p>
                </div>
            </div>
            <section class="top-buffer" ng-if="isMember==true" style="min-height:400px;">
                <div class="row">
                    <!-- this is for the mobile -->
                    <div class="col-xs-12">
                        <div tabset>
                            <section tab select="">
                                <div tab-heading>
                                    <i class="fa fa-pencil"></i>&nbsp;Tasqs
                                </div>
                                <div communitytaskslist="id" list-title="false" filter="taskFilter"></div>
                            </section>
                            <section tab select="">
                                <div tab-heading>
                                    <i class="fa fa-user"></i>&nbsp;Members
                                </div>
                                <div communityuserslist="id" list-title="false" filter="userFilter"></div>
                            </section>
                            <section tab select="">
                                <div tab-heading>
                                    <i class="fa fa-info-circle"></i>&nbsp;Info
                                </div>
                                <div class="panel panel-default">
                                    <div ng-click="requestLeave()" snaplist-button="{href:'#',text:'leave this community',icon:'fa fa-warning'}"></div>
                                    <p style="white-space: pre-line;">
                                        {{group.description}}
                                    </p>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>