<div class="container">
    <h1>Join community</h1>
    <form class="form" name="form" ng-submit="processJoinUrl(form)" novalidate>
        <div class="form-group" ng-class="{ 'has-success': form.url.$valid && submitted,
    'has-error': form.url.$invalid && submitted }">
            <label>Url <span ng-if="isurl_fb(url)">
                <i class="fa fa-facebook"></i>
            </span></label>
            <input type="text" scroll-on-click-mobile="-15px" placeholder="enter a url" name="url" class="form-control" ng-model="url" required/>

            <p class="help-block" ng-show="form.url.$error.required && submitted">
                a url is required
            </p>
            <p class="has-error" ng-show="error && submitted">
                {{error}}
            </p>
            <input type="submit" class="form-control btn-info" value="continue">
        </div>
        <p class="lead">Example: https://www.facebook.com/groups/findyournextopportunity/</p>
</div>
</form>
</div>