<div class="container top-buffer" style="word-break: break-word;" ng-controller="TaskGlobalCtrl">
    <a ng-if="_me" href="/tasqs">Back to my tasqs</a>
    <div class="well" style="background-color:white">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 bot-buffer">
                <div style="float:left;margin-right:10px;">
                    <img src="{{task.ownerPic}}" style="height:50px;width:50px;" />
                </div>
                <div>
                    <strong><a href="/user/view/{{task.ownerId}}">{{task.ownerName}}</a></strong>
                </div>
                <div>{{task.created | date:'MMM d, y h:mm a'}}</div>
                <div class="badge" ng-class="{'badge-success':task.status=='completed','badge-info':task.status!='completed'}">{{task.status | capslock}}<span ng-if="task.tasker.name">&nbsp;<a href="/user/view/{{task.tasker.id}}" style="color:white;">by {{task.tasker.name}}</a></span></span>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                <div class="pull-lg-right pull-md-right pull-sm-right">
                    <button ng-if="task.applicants.length==0 && _me" ng:disabled="true" ng-click="showApplicants(task)" class="btn btn-info" style="height:46px;">No Applicants Yet</button>
                    <button ng-if="task.applicants.length!=0" ng-click="showApplicants(task)" class="btn btn-info" style="height:46px;">View <span ng-if="task.applicants.length>0">{{task.applicants.length}}</span> Applicants</button>
                    <span ng-if="task.ownerId!=_me._id">
                    <button ng-if="canStartTask(task,_me)" ng-click="startTask(task);" class="btn btn-success" style="height:46px;">Start Tasq</button>
                    <button ng-if="canFinishTask(task,_me)" ng-click="finishTask(task);" class="btn btn-success" style="height:46px;">Mark Tasq Completed</button>
                    <button ng-if="canApplyToTask(task,_me);" ng-click="applyToTask(task,_me)" class="btn btn-success" style="height:46px;">Apply to Task</button>
                    <button ng-if="canUnapplyToTask(task,_me) && _me" ng-click="unapplyToTask(task,_me)" class="btn btn-warning" style="height:46px;">Unapply to Task</button>
                    </span>
                    <!-- task owner buttons -->
                    <span ng-if="task.ownerId==_me._id">
                    <a href="/tasq/update/{{task._id}}"><button class="btn btn-warning" style="height:46px;">EDIT</button></a>
                    <button ng-click="deleteTask(task)" class="btn btn-danger" style="height:46px;">DELETE</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>{{task.name}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Reward:&nbsp;<span id="payout" ng-if="task.payout">${{task.payout}}</span><span ng-if="!task.payout">free</span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{task.description}}
            </div>
        </div>
        <div class="row" ng-if="task.ownerId==_me._id && task.applicants.length==0">
            <div class="col-md-12 lead">No one has applied yet. Try sharing your tasq via the share buttons. The <a href="#" class="btn" style="background-color:#fcd11a;color:white" ng-click="shareTasq(task);"><i class="fa fa-share-alt"></i></a> share button can be used to share
                this tasq to your communities.</div>
        </div>
        <div class="row">
            <div ng-if="task.location" class="col-md-12 col-sm-12 col-xs-12" style="padding-right:30px;padding-left:30px;">
                <div ng-if="task.location" class="row" id="googleMaps">
                    <div ng-if="!_isMobile" class="col-md-12">
                        <div ui-gmap-google-map options="{'scrollwheel': false}" center='task.locationCopy.geo.center' zoom='15'>
                            <div ui-gmap-marker coords="task.location.geo.center" options="marker.options" idkey="0"></div>
                        </div>
                    </div>
                    <div ng-if="_isMobile" class="col-sm-6 col-md-6">
                        <div ui-gmap-google-map options="{'scrollwheel': false}" center='task.locationCopy.geo.center' zoom='15'>
                            <div ui-gmap-marker coords="task.location.geo.center" options="marker.options" idkey="0"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row top-buffer2">
            <!--share stuff -->
            <!-- Google Plus Share Button -->
            <!-- <a class="btnz share gplus" href="#"><i class="fa fa-google-plus"></i> Share</a> -->
            <a href="#" class="col-md-3 col-sm-3 col-xs-3 btn" style="background-color:#cc2127;color:white" ng-click="_share('google',task.name,task.description)"><i class="fa fa-google-plus"></i> Share</a>
            <!-- Twitter Share Button -->
            <!--btnz share twitter-->
            <a class="col-md-3 col-sm-3 col-xs-3 btn" style="background-color:#55acee;color:white" href="https://twitter.com/intent/tweet?text={{'Help '+task.ownerName+' with '+task.name+' link: '+currentUrl}}&hashtags=snaptasq"><i class="fa fa-twitter"></i> Tweet</a>
            <!-- Stumbleupon Share Button -->
            <!-- <a class="btnz share stumbleupon" href="#"><i class="fa fa-stumbleupon"></i> Stumble</a> -->
            <!-- Pinterest Share Button -->
            <!-- btnz share pinterest -->
            <a href="#" class="col-md-3 col-sm-3 col-xs-3 btn" style="background-color:#fcd11a;color:white" ng-click="shareTasq(task);"><i class="fa fa-share-alt"></i> Snap</a>
            <!-- LinkedIn Share Button -->
            <!-- <a class="btnz share linkedin" href="#"><i class="fa fa-linkedin"></i> LinkedIn</a> -->
            <div class="visible-xs col-md-3 col-sm-3 col-xs-3">
                <div class="fb-share-button" data-href="{{getUrl()}}" data-layout="button_count"></div>
            </div>
            <!-- Facebook Share Button -->
            <a class="hidden-xs col-md-3 col-sm-3 col-xs-3 btn" style="background-color:#3b5998;color:white" ng-click="_share('fb','Help '+task.ownerName+' with ' + task.name,task.description)" href="#"><i class="fa fa-facebook"></i> Share</a>
        </div>
        <div class="row top-buffer">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div onrender="rendered()" class="well fb-comments" data-href="{{_hostName}}/tasq/view/{{task._id}}#{{task._id}}" data-numposts="3" data-colorscheme="light"></div>
            </div>
        </div>
    </div>
</div>