<div class="container top-buffer" ng-controller="TaskEditCtrl">
    <div class="row">
        <div class="col-sm-12">
            <p class="lead">My Task
                <button ng-click="cancelEditingTask(task);" type="button" class="btn btn-danger pull-right" style="height:46px;">Cancel</button>
            </p>
        </div>
        <div class="col-sm-12" ng-if="action=='create' || action=='update'">
            <form class="form" name="form" ng-submit="createTask(form)" novalidate>
                <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
        'has-error': form.name.$invalid && submitted }">
                    <label>Title</label>

                    <input type="text" scroll-on-click-mobile="-15px" placeholder="Ex: $15 to anyone who could help me move a couch tonight or tomorrow morning before 10 am! Please I'm small" maxlength="128" name="name" class="form-control" ng-model="task.name" required/>
                    <p class="help-block" ng-show="form.name.$error.required && submitted">
                        A title is required
                    </p>
                </div>

                <div class="form-group" ng-class="{ 'has-success': form.location.$valid && !errors.location && submitted,
      'has-error': (form.location.$invalid || errors.location) && submitted }">
                    <label>Location</label>

                    <input type="text" scroll-on-click-mobile="-15px" class="form-control" name="location" ng-autocomplete ng-model="task.location.name" options="options" details="task.location.details" required/>
                    <p class="help-block" ng-show="form.location.$error.required && submitted">
                        A location is required
                    </p>
                    <p class="help-block" ng-show="errors.location && submitted">
                        Please re-enter the location
                    </p>
                </div>
                <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
    'has-error': form.name.$invalid && submitted }">
                    <label popover-placement="right" popover="It is reccomended you learn how to set price points accurately, clicking the link won't clear your task information" popover-trigger="mouseenter">{{1000.23 | currency:"$"}} Reward Price (can be free, <a href="/pricePoints" target="_tab">learn how to set price points</a>)</label>
                    <div><strong>Current Price Category: {{task.payout | pricePointCategory}}</strong></div>
                    <label style="margin-right:5px;"></label>
                    <div class="clearfix">
                        <input scroll-on-click-mobile="-15px" size="7" format-as-currency="" type="text" style="display:inline;" ng-model="task.payout" popover-placement="right" popover="By offering as little as 5$ it greatly increases the chances of success" required/>

                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-success': form.description.$valid && submitted,
      'has-error': (form.description.$invalid || errors.description) && submitted }">
                    <label>Additional Details (Optional)</label>

                    <textarea scroll-on-click-mobile="-15px" placeholder="Ex: Couch is small enough to fit in an SUV." name="description" cols="40" maxlength="1000" rows="5" ng-model="task.description" class="form-control"></textarea>
                    <p class="help-block" ng-show="errors.description && submitted">
                        A description is optional. Limited to 1000 characters.
                    </p>
                </div>
                </br>
                <div class="row bot-buffer">
                    <div class="col-md-12">
                        <button class="btn btn-info btn-lg" type="submit">
                            Next
                        </button>
                        <button ng-if="task._id" ng-click="deleteTask(task);" type="button" class="btn btn-danger pull-right" style="height:46px;">Delete Task</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>