<div class="container top-buffer">
    <section name="change-pass" class="panel panel-primary">
        <div class="panel-heading">
            Create Community
        </div>
        <div class="panel-body">
            <form class="form" name="form" ng-submit="createCommunity(form)" novalidate>

                <div class="form-group">
                    <label>Name</label>

                    <input type="text" name="name" ng-model="name" class="form-control" required/>
                    <p class="help-block" ng-show="name.length > 64">
                        Name must be under 64 letters long
                    </p>
                    <p class="help-block" ng-show="form.name.$error.required && submitted">
                        Please enter a name
                    </p>
                </div>

                <div class="form-group">
                    <label>Entry Method</label>
                    </br>
                    <select ng-model="selectedItem" name="entryMethod" ng-options="item as item.name for item in entryMethods" required></select>
                    <p class="help-block" ng-show="form.entryMethod.$error.required && submitted">
                        Please select an entry method
                    </p>
                </div>
                <div class="form-group">
                    <label>Entry Parameter</label>

                    <input type="text" value="0" name="entryParam" class="form-control" ng-model="formCommunity.entryParam" />
                    <p class="help-block" ng-show="formCommunity.entryParam < 32">
                        Name must be under 32 letters long
                    </p>
                </div>
                <button class="btn btn-lg btn-primary" type="submit">Create</button>
            </form>
        </div>
    </section>

    <section name="view-codes" class="panel panel-seondary">
        <div class="row well" ng-repeat="item in communities">
            <div class="col-md-4">
                <h2>{{item.name}}</h2>
            </div>
            <div class="col-md-4">
                <div class="lead">entryMethod : {{item.entryMethod}}</div>
                <div class="lead">entryParam : {{item.entryParam}}</div>
                <div class="lead">created : {{item.created | date:'longDate'}}</div>
            </div>
            <div class="col-md-4">
                <div class="top-buffer">
                    <button class="btn btn-danger" ng-click="delete(item);">Delete</button>
                </div>
            </div>
        </div>
    </section>



</div>