<div class="panel panel-default">
    <div ng-if="listTitle" snaplist-title="'my tasqs'"></div>
    <div snaplist-search="searchFilter.text"></div>
    <ul class="list-group" infinite-scroll='loadMore()' infinite-scroll-distance='2'>
        <li class="list-group-item ng-cloak" ng-if="(items | filter:{'name':searchFilter.text}).length==0">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <span class="name">no tasqs</span>
                </div>
            </div>
        </li>
        <li class="list-group-item" style="word-break: break-word;" ng-repeat="item in items | filter:{'name':searchFilter.text}">
            <div snaplist-results-task-share="item" snaplistclick="shareTasq"></div>
        </li>
    </ul>
</div>