<div class="container top-buffer">
    <div class="row">
        <div class="col-xs-12">
            <div tabset>
                <section tab select="setType();">
                    <div tab-heading>
                        <i class="fa fa-pencil"></i>&nbsp;All
                    </div>
                </section>
                <section tab select="setType('friendRequest');">
                    <div tab-heading>
                        <i class="fa fa-user-plus"></i>&nbsp;Friend
                    </div>
                </section>
                <section tab select="setType('taskOwner');">
                    <div tab-heading>
                        <i class="fa fa-info-circle"></i>&nbsp;Tasqs
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <ul class="list-group" id="contact-list" style="cursor:pointer;">
                    <li class="list-group-item ng-cloak" ng-if="(items | orderBy:'-created' | filter:{category:type}).length==0">
                        <div class="col-xs-12 col-sm-12 text-center">
                            <span class="name">no notifications</span>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                    <li class="list-group-item" ng-repeat="item in items | orderBy:'-created' | filter:{category:type}" ng-click="_goToPath(item.href)">
                        <div class="row">
                            <div style="float:left;padding-left:5px;display:inline-block;width:45px;"><img ng-src="{{item.pic}}" style="height:50px;width:50px;" /></div>
                            <div class="col-md-9 col-sm-9 col-xs-8">
                                <h4 ng-if="myId && item.forOne==myId" class="item-title">{{item.messageOne}}<button ng-click="hideNotification($event,item)" class="btn btn-warning pull-right">dismiss</button></h4>
                                <h4 ng-if="myId && item.forOne!=myId" class="item-title">{{item.message}}<button ng-click="hideNotification($event,item)" class="btn btn-warning pull-right">dismiss</button></h4>
                                <p class="item-info" am-time-ago="item.created"></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>