<div class="container top-buffer bot-buffer2">
    <div class="row">
        <div class="col-sm-3 col-md-2">
            <a href="/newmessage" class="btn btn-danger btn-sm btn-block" role="button">COMPOSE</a>
        </div>
    </div>
    <hr />
    <div class="row bot-buffer">
        <div class="col-sm-12 col-md-12">
            <button type="button" class="btn btn-default" ng-click="refreshInbox(true)" data-toggle="tooltip" title="Refresh">
                <i class="fa fa-refresh"></i>   </button>
            <div class="pull-right">
                <span class="text-muted"><b>1</b>–<b>50</b> of <b>277</b></span>
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-default">
                        <span class="fa fa-chevron-left"></span>
                    </button>
                    <button type="button" class="btn btn-default">
                        <span class="fa fa-chevron-right"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <!-- Nav tabs -->
            <div tabset>
                <section tab select="switchBox('primary')">
                    <div tab-heading>
                        <i class="fa fa-inbox"></i>&nbsp;Primary
                    </div>
                    <div class="list-group">
                        <a href="/message/{{item._id}}" class="list-group-item" ng-repeat="item in messages track by $index">
                            <div class="checkbox">
                                <button ng-click="hideMessage($event,$index,item)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                            </div>
                            <span class="fa fa-star-empty"></span><span class="name" style="min-width: 120px;
								display: inline-block;">{{item.last.name}}</span> <span class="">{{item.title}}</span>
                            <span class="text-muted" style="font-size: 11px;">- {{item.last.body | limitTo:20}}</span>
                            <span class="badge" am-time-ago="item.created"></span>
                        </a>
                    </div>
                </section>
                <section tab select="switchBox('friends')">
                    <div tab-heading>
                        <i class="fa fa-user"></i>&nbsp;Friend Requests&nbsp;({{friendRequests.length}})
                    </div>
                    <div class="list-group">
                        <a href="/message/{{item._id}}" class="list-group-item" ng-repeat="item in friendRequests track by $index">
                            <div class="checkbox">
                                <button ng-click="hideMessage($event,$index,item)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                            </div>
                            <span class="fa fa-star-empty"></span><span class="name" style="min-width: 120px;
                                display: inline-block;">{{item.last.name}}</span> <span class="">{{item.title}}</span>
                            <span class="text-muted" style="font-size: 11px;">- {{item.last.body | limitTo:20}}</span>
                            <span class="badge" am-time-ago="item.created"></span>
                        </a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>