<div class="panel panel-default">
    <div ng-if="listTitle" snaplist-title="'my friends'"></div>
    <div snaplist-button="{href:'/users/find',text:'add more friends',icon:'fa fa-plus'}"></div>
    <div snaplist-search="searchFilter.text"></div>
    <ul class="list-group" infinite-scroll='showMore()' infinite-scroll-distance='2'>
        <li class="list-group-item ng-cloak" ng-if="(items | filter:{'name':searchFilter.text}).length==0">
            <div class="col-xs-12 col-sm-12">
                <span class="name">no friends yet</span>
                <br/>
            </div>
            <div class="clearfix"></div>
        </li>
        <li class="list-group-item" ng-repeat="item in items | filter:{'name':searchFilter.text} | limitTo:limitCount" ng-click="_goToPath('/user/view/'+item.id)">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <img ng-src="{{item.pic}}" alt="{{item.name}}" class="img-circle" style="height:50px;width:50px;" />
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <span class="name">{{item.name}}</span>
            </div>
            <div class="clearfix"></div>
        </li>
    </ul>
</div>