<div class="panel panel-default">
    <div ng-if="listTitle" snaplist-title="'my communities'"></div>
    <a href="/communities/find">
        <div snaplist-button="{text:'join new community',icon:'fa fa-plus'}"></div>
    </a>
    <div snaplist-search="searchFilter.text"></div>
    <ul class="list-group" infinite-scroll='showMore()' infinite-scroll-distance='2'>
        <!-- default group my friends will always be shown -->
        <li class="list-group-item" style="cursor:pointer;word-break: break-word;" ng-click="_goToPath('/community/friends')">
            <div class="snaplist-result-img-container">
                <img src="assets/logos/snaptasq.png" alt="my friends tasqs" class="snaplist-result-img" />
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9">
                <span class="name">my friend's tasqs</span>
                <br/>
            </div>
            <div class="clearfix"></div>
        </li>
        <!-- then the normal items -->
        <li class="list-group-item" style="cursor:pointer;word-break: break-word;" ng-repeat="item in items | filter:{'name':searchFilter.text} | limitTo:limitCount | orderBy:'name'" ng-click="_goToPath('/community/view/'+item.id)">
            <div class="snaplist-result-img-container">
                <img ng-src="{{item.pic}}" alt="{{item.name}}" class="snaplist-result-img" />
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9">
                <span class="name"><a href="{{'/community/view/'+item.id}}">{{item.name}}</a></span>
            </div>
            <div class="clearfix"></div>
        </li>

    </ul>
</div>