<div class="container" id="loginsAndSignup">
    <section class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" style="margin-top:50px;">
        <div ng-if="!tabSignup && !tabCreateAccount">
            <div ng-include src="'app/account/signin/partials/choice.partial.html'"></div>
        </div>
        <div ng-if="tabSignup && !tabCreateAccount">
            <div ng-include src="'app/account/signin/partials/signin.partial.html'"></div>
        </div>
        <div ng-if="!tabSignup && tabCreateAccount">
            <div ng-include src="'app/account/signin/partials/register.partial.html'"></div>
        </div>
    </section>
</div>