<div id="choicebox" class="mainbox">
    <div class="panel panel-info">
        <div class="panel-body">
            <div style="" class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <button id="btn-fbsignup" type="button" class="btn btn-primary col-md-12 col-sm-12 col-xs-12" ng-click="loginOauth('facebook');"><i class="fa fa-facebook"></i>   Continue with Facebook</button>
                    </div>
                </div>
            </div>
            <div id="or" class="col-md-12">
                <div style="display: inline-block;width:40%;vertical-align: middle;zoom: 1;height: 1px;background: #cccfd3;"></div>
                <div class="text-center" style="width:15%;display: inline-block;zoom: 1;">or</div>
                <div style="width:40%;display: inline-block;vertical-align: middle;zoom: 1;height: 1px;background: #cccfd3;"></div>
            </div>
            <div class="text-center col-md-12 bot-buffer" style="padding-top:5px;">
                <div style="">Log in or sign up with email</div>
            </div>
            <div class="top-buffer row">
                <div class="col-md-6 col-sm-12 text-center">
                    <a href="/signin?action=login">
                        <button class="btn btn-primary col-md-6 col-md-push-3 col-sm-12 col-xs-12">Log in</button>
                    </a>
                </div>
                <div class="col-md-6 col-sm-12 text-center">
                    <a href="/signin?action=register">
                        <button class="btn btn-success col-md-6 col-md-push-3 col-sm-12 col-xs-12">Sign up</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>