<div id="signupbox" class="mainbox">
    <div class="panel panel-info">
        <div class="panel-body">
            <form id="signupform" class="form-horizontal" name="signupForm" role="form" ng-submit="register(signupForm)">
                <div id="signupalert" ng-show="registerErrors.length!=0" class="alert alert-danger">
                    <div ng-repeat="error in registerErrors">{{error}}</div>
                </div>
                <div style="" class="form-group">
                    <div class="col-md-12">
                        <button id="btn-fbsignup" type="button" class="btn btn-primary" style="width:100%;" ng-click="loginOauth('facebook');"><i class="fa fa-facebook"></i>   Continue with Facebook</button>
                    </div>
                </div>
                <div id="or" class="col-md-12">
                    <div style="display: inline-block;width:40%;vertical-align: middle;zoom: 1;height: 1px;background: #cccfd3;"></div>
                    <strong class="text-center lead" style="width:15%;display: inline-block;zoom: 1;">or</strong>
                    <div style="width:40%;display: inline-block;vertical-align: middle;zoom: 1;height: 1px;background: #cccfd3;"></div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-md-3 control-label">Name</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="name" ng-model="signupform.name" placeholder="Jon Doe" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-md-3 control-label">Email</label>
                    <div class="col-md-9">
                        <input type="email" class="form-control" name="email" ng-model="signupform.email" placeholder="Email Address">
                    </div>
                </div>
                <!--<div class="form-group">
                  <label for="lastname" class="col-md-3 control-label">Last Name</label>
                  <div class="col-md-9">
                    <input type="text" class="form-control" name="lastname" placeholder="Last Name">
                  </div>
                </div> -->
                <div class="form-group">
                    <label for="password" class="col-md-3 control-label">Password</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" name="password" ng-model="signupform.password" placeholder="Password">
                    </div>
                </div>

                <div class="form-group">
                    <input type="hidden" ng-model="signupform.captchaResponse" ng-model="signupform.captchaResponse" name="captchaResponse">
                    <label for="captcha" class="col-md-3 control-label">Captcha</label>
                    <div class="col-md-9">
                        <div vc-recaptcha key="'6LfjmgcTAAAAAFerg8_alh6LFcb4QQvrF8Gg4qz1'" on-success="signupform.captchaResponse=response"></div>
                    </div>
                </div>
                <div class="form-group">
                    <!-- Button -->
                    <div class="col-md-12">
                        <button id="btn-signup" type="submit" class="btn btn-info" style="width:100%;"><i class="icon-hand-right"></i> &nbsp; Join now</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>